@charset "UTF-8";

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Purple-100: hsl(254, 88%, 90%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
    /* Adicionei uma cor padrão para a variável --card que faltava */
    --card: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Purple-100);
    font-size: 18px;
}

.container-grid{
    padding: 1rem;
    display: grid;
    grid-template-columns: minmax(320px 1fr);
    grid-template-areas: none;
    gap: 1rem;
    align-items: start;

    @media(width > 400px){
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        /* grid-auto-rows: min-content; */
    }

    .itens{
        grid-area: auto;
        background-color: var(--card);
        border-radius: .6rem;
        padding: 1rem;
        overflow: hidden;

        .imagem img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}